:root {
  --clr-accent: #d5966c;
  --clr-black: #151515;
  --clr-gray: #444444;
  --clr-white: #ffffff;
  --ff-heading: "Big Shoulders Display", cursive;
  --ff-body: "Outfit", sans-serif;
  --fs-heading-xl: 6rem;
  --fs-heading-l: 4.375rem;
  --fs-heading-m: 3.75rem;
  --fs-heading-s: 2.25rem;
  --fs-heading-mobile:3.125rem;
  --f-heading-xl: 900 6rem/5.5rem "Big Shoulders Display", cursive;
  --f-heading-l: 900 4.375rem/4.0625rem "Big Shoulders Display", cursive;
  --f-heading-m: 900 3.75rem/3.75rem "Big Shoulders Display", cursive;
  --f-heading-mobile: 900 3.125rem/2.8125rem "Big Shoulders Display", cursive;
  --f-heading-section: 900 3.4375rem/3.125rem "Big Shoulders Display", cursive;
  --f-body-xs: 300 1rem/1.625rem "Outfit", sans-serif;
  --f-body-s: 300 1.125rem/1.75rem "Outfit", sans-serif;
  --f-body-m: 300 1.375rem/2rem "Outfit", sans-serif;
  --f-footer-heading: 900 1.625rem/1.375rem "Big Shoulders Display", cursive;
  --f-button: 1.25rem/1.5rem "Big Shoulders Display", cursive;
}

/* CSS Reset - https://codepen.io/kevinpowell/pen/QWxBgZX */
/* makes sizing simpler */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.body {
  background-color: var(--clr-white);
}

h1, h2, h3 {
  font-family: var(--ff-heading);
  text-transform: uppercase;
}

p {
  font-family: var(--ff-body);
}

a.button {
  position: relative;
  font: var(--f-button);
  text-transform: uppercase;
  letter-spacing: 0.2272725rem;
  background-color: var(--clr-black);
  color: var(--clr-white);
  border: 0;
  border-radius: 0;
  padding-block: 1.5em;
}

a#to-location {
  padding-inline: 2em;
  -webkit-padding-end: 5em;
          padding-inline-end: 5em;
}
a#to-location#to-location:hover {
  background-color: var(--clr-accent);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
a#to-location#to-location:hover:after {
  background-color: var(--clr-black);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

a#to-home {
  padding-inline: 2em;
  -webkit-padding-start: 5em;
          padding-inline-start: 5em;
  z-index: 99999;
}
a#to-home#to-home:hover {
  background-color: var(--clr-accent);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}
a#to-home#to-home:hover:before {
  background-color: var(--clr-black);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#to-location::after {
  content: url(../img/icon-arrow-right.svg);
  background-color: var(--clr-accent);
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.4em;
}

#to-home::before {
  content: url(../img/icon-arrow-left.svg);
  background-color: var(--clr-accent);
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.4em;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.hero.location a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main__background-dark,
.main__section-black {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

footer.footer {
  background-color: var(--clr-black);
  color: var(--clr-white);
}
footer.footer .footer__logo-dark,
footer.footer .footer__logo-light {
  width: 10em;
  height: auto;
}

footer.section__accent {
  background-color: var(--clr-accent);
}

a svg:hover {
  -webkit-filter: opacity(40%);
          filter: opacity(40%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (max-width: 37.49875em) {
  .hero h1 {
    font-size: var(--fs-heading-m);
    line-height: 3.4375rem;
  }
  .hero__img-mobile {
    margin-bottom: 2em;
    width: 100%;
    height: 15em;
    background: url(../img/mobile/image-hero.jpg) no-repeat center center;
    background-size: cover;
  }
  .hero__content {
    padding-inline: 1em;
  }
  .hero__content p {
    font: var(--f-body-s);
    padding-block: 2em;
  }
  .hero__content button {
    margin-bottom: 7.5em;
  }
  main.main {
    padding-inline: 1em;
  }
  main.main .main__img-mobile {
    width: 100%;
    height: 320px;
    background: url(../img/mobile/image-grid-1.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 1.5625em;
  }
  main.main h2 {
    font-size: var(--fs-heading-mobile);
    line-height: 2.8125rem;
    margin-bottom: 1.3125rem;
  }
  main.main p {
    margin-bottom: 2rem;
    font: var(--f-body-s);
  }
  main.main #grid-img-2 {
    width: 100%;
    height: 480px;
    background: url("../img/mobile/image-grid-2.jpg") no-repeat center center;
    background-size: cover;
    margin-bottom: 1em;
  }
  main.main #grid-img-3 {
    width: 100%;
    height: 200px;
    background: url("../img/mobile/image-grid-3.jpg") no-repeat center center;
    background-size: cover;
    margin-bottom: 1em;
  }
  main.main .main__background-dark {
    padding-inline: 1.5em;
    padding-block: 2.9375em;
    margin-bottom: 7.5em;
  }
  main.main .main__background-dark p {
    font: var(--f-body-m);
  }
  .hero.location {
    height: 34.375em;
    background: url("../img/mobile/image-map.png") no-repeat top left;
    background-size: cover;
  }
  main.location {
    padding: 0;
  }
  main.location .main__section-black {
    margin: 0;
    padding-top: 3em;
    padding-inline: 1em;
    padding-bottom: 3.5em;
  }
  main.location .main__section-black h1 {
    font-size: var(--fs-heading-mobile);
    line-height: 2.8125rem;
    font-weight: 300;
    margin-bottom: 3rem;
  }
  main.location .main__section-black p {
    font: var(--f-body-m);
  }
  main.location .main__section-black p span {
    font-family: var(--ff-heading);
    font-size: 2rem;
    line-height: 2rem;
    color: var(--clr-accent);
    display: block;
  }
  footer.footer {
    padding-inline: 1em;
    padding-top: 3em;
  }
  footer.footer h2 {
    font-size: 1.6rem;
    line-height: 1.5rem;
    margin-bottom: 2.375em;
  }
  footer.footer p {
    font: var(--f-body-xs);
    margin-bottom: 2.37em;
  }
  footer.footer .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer.footer .footer__social a {
    margin-right: 1.25em;
    margin-bottom: 3em;
  }
  footer.section__accent {
    padding: 3em 2em;
  }
  footer.section__accent h2 {
    font-size: 1.6rem;
    line-height: 1.5rem;
    margin-bottom: 2.375em;
  }
  footer.section__accent p {
    font: var(--f-body-xs);
    margin-bottom: 2.375em;
  }
  footer.section__accent .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer.section__accent .footer__social a {
    margin-right: 1.25em;
    margin-bottom: 3em;
  }
}
@media (max-width: 37.49875em) and (-webkit-min-device-pixel-ratio: 2), (max-width: 37.49875em) and (min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  .hero .hero__img-mobile {
    background: url("../img/mobile/image-hero@2x.jpg") no-repeat top left;
    background-size: contain;
  }
  .hero.location {
    background: url("../img/mobile/image-map@2x.png") no-repeat top left;
    background-size: contain;
  }
  .main.main .main__img-mobile {
    background: url("../img/mobile/image-grid-1@2x.jpg") no-repeat top right;
    background-size: contain;
  }
  main.main #grid-img-2 {
    background: url("../img/mobile/image-grid-2@2x.jpg") no-repeat top left;
    background-size: contain;
  }
  main.main #grid-img-3 {
    background: url("../img/mobile/image-grid-3@2x.jpg") no-repeat top left;
    background-size: contain;
  }
}
@media (min-width: 37.5em) {
  .hero {
    width: 100%;
    height: 43.75em;
    background: url("../img/tablet/image-hero.jpg") no-repeat top left;
    background-size: contain;
    margin-bottom: 7.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hero h1 {
    font: var(--f-heading-l);
    padding-top: 2.2em;
    margin-bottom: 0.6em;
  }
  .hero p {
    font: var(--f-body-s);
    margin-bottom: 1.8em;
    max-width: 21.1875em;
    padding-right: 2em;
  }
  .hero .hero__content {
    grid-column: 2/3;
  }
  main.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 400px 313px 1fr;
    gap: 0.6875em;
    padding-inline: 2.5em;
    margin-bottom: 7.5em;
  }
  main.main .main__content {
    width: 100%;
    height: 400px;
    background: url("../img/tablet/image-grid-1.jpg") no-repeat top right;
    background-size: 398px 400px;
    grid-column: 1/6;
    grid-row: 1/2;
  }
  main.main h2 {
    font: var(--f-heading-mobile);
    padding-top: 1em;
    max-width: 17.5rem;
  }
  main.main p {
    font: var(--f-body-s);
    width: 13.9375em;
  }
  main.main #grid-img-2 {
    width: 100%;
    height: 720px;
    background: url("../img/tablet/image-grid-2.jpg") no-repeat top left;
    background-size: cover;
    grid-column: 1/4;
    grid-row: 2/3;
  }
  main.main #grid-img-3 {
    width: 100%;
    height: 313px;
    background: url("../img/tablet/image-grid-3.jpg") no-repeat bottom right;
    background-size: cover;
    grid-column: 4/6;
    grid-row: 2/-2;
  }
  main.main .main__background-dark {
    grid-column: 4/-1;
    padding-inline: 1.75em;
    height: 396px;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  main.main .main__background-dark h2 {
    font: var(--f-heading-mobile);
    margin-bottom: 1rem;
  }
  main.main .main__background-dark p {
    font: var(--f-body-s);
  }
  .hero.location {
    width: 100%;
    height: 37.5em;
    background: url("../img/tablet/image-map.png") no-repeat center center;
    background-size: cover;
    margin-bottom: 0;
  }
  .hero.location a button.button {
    height: auto;
  }
  main.location {
    display: block;
    padding: 0;
    margin-bottom: 0;
  }
  main.location .main__section-black {
    display: grid;
    grid-template-columns: 13.9375em auto;
    gap: 1.25em;
    padding-top: 5.5em;
    padding-inline: 2.5em;
    padding-bottom: 5em;
  }
  main.location .main__section-black h1 {
    font: var(--f-heading-section);
  }
  main.location .main__section-black p {
    grid-column: 2/-1;
    margin-left: 4.25em;
    width: auto;
  }
  main.location .main__section-black p span {
    font-family: var(--ff-heading);
    font-size: 2rem;
    line-height: 2rem;
    color: var(--clr-accent);
    display: block;
  }
  footer.footer,
  footer.section__accent {
    display: grid;
    grid-template-columns: 7.8125em auto 7.8125em;
    padding-inline: 2.5em;
    padding-block: 3.5em;
  }
  footer.footer h2,
  footer.section__accent h2 {
    font: var(--f-footer-heading);
  }
  footer.footer p,
  footer.section__accent p {
    max-width: 70%;
    margin: auto;
    font: var(--f-body-xs);
  }
  footer.footer .footer__social,
  footer.section__accent .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer.footer .footer__social a,
  footer.section__accent .footer__social a {
    margin-right: 1.25em;
  }
}
@media (min-width: 37.5em) and (-webkit-min-device-pixel-ratio: 2), (min-width: 37.5em) and (min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  .hero {
    background: url("../img/tablet/image-hero@2x.jpg") no-repeat top left;
    background-size: contain;
  }
  .hero.location {
    background: url("../img/tablet/image-map@2x.png") no-repeat top left;
    background-size: contain;
  }
  .main.main .main__content {
    background: url("../img/tablet/image-grid-1@2x.jpg") no-repeat top right;
    background-size: contain;
  }
  main.main #grid-img-2 {
    background: url("../img/tablet/image-grid-2@2x.jpg") no-repeat top left;
    background-size: contain;
  }
  main.main #grid-img-3 {
    background: url("../img/tablet/image-grid-3@2x.jpg") no-repeat top left;
    background-size: contain;
  }
}
@media (min-width: 90em) {
  .hero {
    background: url("");
    grid-template-columns: repeat(3, 1fr);
  }
  .hero .hero__img-mobile {
    background-color: var(--clr-black);
    grid-column: 1/2;
  }
  .hero .hero__img-desktop {
    background: url("../img/desktop/image-hero.jpg") no-repeat top center;
    background-size: contain;
    width: 540px;
    height: 800px;
  }
  .hero .hero__content {
    grid-column: 3/4;
    margin-left: -3.2em;
  }
  .hero .hero__content h1 {
    font: var(--f-heading-xl);
    margin-top: -0.2em;
    margin-left: -8.1em;
    -webkit-filter: invert(1);
            filter: invert(1);
    mix-blend-mode: difference;
  }
  .hero .hero__content p {
    font: var(--f-body-m);
    margin-top: -11em;
    margin-bottom: 4.7em;
    width: 18.325em;
  }
  main.main {
    padding-inline: 10.3125em;
    padding-top: 10em;
    margin-bottom: 11em;
    gap: 1.875em;
  }
  main.main .main__content {
    background: url("../img/desktop/image-grid-1.jpg") no-repeat top right;
    background-size: 635px 400px;
  }
  main.main .main__content h2 {
    font: var(--f-heading-m);
    margin-bottom: 2rem;
  }
  main.main .main__content p {
    font: var(--f-body-m);
    width: 21.875rem;
  }
  main.main #grid-img-2 {
    background: url("../img/desktop/image-grid-2.jpg") no-repeat top left;
    background-size: cover;
    width: 100%;
    height: 720px;
  }
  main.main #grid-img-3 {
    background: url("../img/desktop/image-grid-3.jpg") no-repeat top right;
    background-size: cover;
  }
  main.main .main__background-dark {
    height: 23.5625em;
  }
  main.main .main__background-dark h2 {
    font: var(--f-heading-m);
    padding-top: 0;
  }
  footer.footer,
  footer.section__accent {
    grid-template-columns: 10em auto 7.8125em;
    padding-block: 5em;
  }
  footer.footer .footer__logo-light,
  footer.footer .footer__logo-dark,
  footer.section__accent .footer__logo-light,
  footer.section__accent .footer__logo-dark {
    margin-left: 7.6em;
  }
  footer.footer p,
  footer.section__accent p {
    max-width: 35%;
  }
  .hero.location {
    background: url("../img/desktop/image-map.png") no-repeat center;
    background-size: cover;
    padding-inline: 10.3125em;
  }
  .main.location {
    padding: 0;
    margin-bottom: 0;
  }
  .main.location .main__section-black {
    padding-top: 6.5em;
    padding-inline: 10.3125em;
    padding-bottom: 8em;
  }
  .main.location .main__section-black h1 {
    font-size: var(--fs-heading-l);
    line-height: 4.0625rem;
  }
  footer.section__accent {
    padding-block: 5em;
  }
}
@media (min-width: 90em) and (-webkit-min-device-pixel-ratio: 2), (min-width: 90em) and (min-resolution: 192dpi) {
  /* Retina-specific stuff here */
  .hero .hero__img-desktop {
    background: url("../img/desktop/image-hero@2x.jpg") no-repeat top center;
    background-size: contain;
  }
  .hero.location {
    background: url("../img/desktop/image-map@2x.png") no-repeat top left;
    background-size: contain;
  }
  .main.main .main__content {
    background: url("../img/desktop/image-grid-1@2x.jpg") no-repeat top right;
    background-size: contain;
  }
  main.main #grid-img-2 {
    background: url("../img/desktop/image-grid-2@2x.jpg") no-repeat top left;
    background-size: contain;
  }
  main.main #grid-img-3 {
    background: url("../img/desktop/image-grid-3@2x.jpg") no-repeat top left;
    background-size: contain;
  }
}