:root {
  --clr-accent: #d5966c;
  --clr-black: #151515;
  --clr-gray: #444444;
  --clr-white: #ffffff;
  --ff-heading: "Big Shoulders Display", cursive;
  --ff-body: "Outfit", sans-serif;
  --fs-heading-xl: 6rem;
  --fs-heading-l: 4.375rem;
  --fs-heading-m: 3.75rem;
  --fs-heading-s: 2.25rem;
  --fs-heading-mobile:3.125rem;
  --f-heading-l: 900 4.375rem/4.0625rem "Big Shoulders Display", cursive;
  --f-heading-mobile: 900 3.125rem/2.8125rem "Big Shoulders Display", cursive;
  --f-body-xs: 300 1rem/1.625rem "Outfit", sans-serif;
  --f-body-s: 300 1.125rem/1.75rem "Outfit", sans-serif;
  --f-body-m: 300 1.375rem/2rem "Outfit", sans-serif;
  --f-button: 1.25rem/1.5rem "Big Shoulders Display", cursive;
}

/* CSS Reset - https://codepen.io/kevinpowell/pen/QWxBgZX */
/* makes sizing simpler */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.body {
  background-color: var(--clr-white);
}

h1, h2, h3 {
  font-family: var(--ff-heading);
  text-transform: uppercase;
}

p {
  font-family: var(--ff-body);
}

button.button {
  position: relative;
  font: var(--f-button);
  text-transform: uppercase;
  letter-spacing: 0.2272725rem;
  background-color: var(--clr-black);
  color: var(--clr-white);
  border: 0;
  border-radius: 0;
  padding-block: 1.5em;
  -webkit-padding-start: 2em;
          padding-inline-start: 2em;
  -webkit-padding-end: 2.1875em;
          padding-inline-end: 2.1875em;
}

button.button::after {
  content: url(../img/icon-arrow-right.svg);
  background-color: var(--clr-accent);
  position: absolute;
  top: 0;
  right: -66px;
  padding: 1.4em;
}

.main__background-dark {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

footer.footer {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

@media (max-width: 37.49875em) {
  .hero h1 {
    font-size: var(--fs-heading-m);
    line-height: 3.4375rem;
  }
  .hero__img-mobile {
    margin-bottom: 2em;
    width: 100%;
    height: 15em;
    background: url(../img/mobile/image-hero@2x.jpg) no-repeat center center;
    background-size: cover;
  }
  .hero__content {
    padding-inline: 1em;
  }
  .hero__content p {
    font: var(--f-body-s);
    padding-block: 2em;
  }
  .hero__content button {
    margin-bottom: 7.5em;
  }
  main.main {
    padding-inline: 1em;
  }
  main.main .main__img-mobile {
    width: 100%;
    height: 320px;
    background: url(../img/mobile/image-grid-1@2x.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 1.5625em;
  }
  main.main h2 {
    font-size: var(--fs-heading-mobile);
    line-height: 2.8125rem;
    margin-bottom: 1.3125rem;
  }
  main.main p {
    margin-bottom: 2rem;
    font: var(--f-body-s);
  }
  main.main #grid-img-2 {
    width: 100%;
    height: 480px;
    background: url("../img/mobile/image-grid-2@2x.jpg") no-repeat center center;
    background-size: cover;
    margin-bottom: 1em;
  }
  main.main #grid-img-3 {
    width: 100%;
    height: 200px;
    background: url("../img/mobile/image-grid-3@2x.jpg") no-repeat center center;
    background-size: cover;
    margin-bottom: 1em;
  }
  main.main .main__background-dark {
    padding-inline: 1.5em;
    padding-block: 2.9375em;
    margin-bottom: 7.5em;
  }
  main.main .main__background-dark p {
    font: var(--f-body-m);
  }
  main.location {
    padding: 0;
  }
  main.location .hero {
    width: 100%;
    height: 34.375em;
    background: url("../img/mobile/image-map@2x.png") no-repeat top left;
    background-size: cover;
  }
  main.location .main__background-dark {
    margin: 0;
  }
  main.location .main__background-dark h1 {
    font-size: var(--fs-heading-mobile);
    margin-bottom: 3rem;
  }
  main.location .main__background-dark p {
    font: var(--f-body-m);
  }
  main.location .main__background-dark p span {
    font-family: var(--ff-heading);
    font-size: 2rem;
    line-height: 2rem;
    color: var(--clr-accent);
    display: block;
  }
  footer.footer {
    padding-inline: 1em;
    padding-top: 3em;
  }
  footer.footer h2 {
    font-size: 1.6rem;
    line-height: 1.5rem;
    margin-bottom: 2.375em;
  }
  footer.footer p {
    font: var(--f-body-xs);
    margin-bottom: 2.37em;
  }
  footer.footer .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer.footer .footer__social a {
    margin-right: 1.25em;
    margin-bottom: 3em;
  }
  footer.section__accent {
    background-color: var(--clr-accent);
    padding: 3em 2em;
  }
  footer.section__accent h2 {
    font-size: 1.6rem;
    line-height: 1.5rem;
    margin-bottom: 2.375em;
  }
  footer.section__accent p {
    font: var(--f-body-xs);
    margin-bottom: 2.375em;
  }
  footer.section__accent .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer.section__accent .footer__social a {
    margin-right: 1.25em;
    margin-bottom: 3em;
  }
}
@media (min-width: 37.5em) {
  .hero {
    width: 100%;
    height: 43.75em;
    background: url("../img/tablet/image-hero@2x.jpg") no-repeat top left;
    background-size: contain;
    margin-bottom: 7.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hero h1 {
    font: var(--f-heading-l);
    padding-top: 2.2em;
    margin-bottom: 0.6em;
  }
  .hero p {
    font: var(--f-body-s);
    margin-bottom: 1.8em;
  }
  main.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 400px 313px 1fr;
    gap: 0.6875em;
    padding-inline: 2.5em;
    margin-bottom: 7.5em;
  }
  main.main .main__content {
    width: 100%;
    height: 400px;
    background: url("../img/tablet/image-grid-1@2x.jpg") no-repeat top right;
    background-size: 398px 400px;
    grid-column: 1/6;
    grid-row: 1/2;
  }
  main.main h2 {
    font: var(--f-heading-mobile);
    padding-top: 1em;
    max-width: 17.5rem;
  }
  main.main p {
    font: var(--f-body-s);
    width: 13.9375em;
  }
  main.main #grid-img-2 {
    width: 100%;
    height: 720px;
    background: url("../img/tablet/image-grid-2@2x.jpg") no-repeat top left;
    background-size: cover;
    grid-column: 1/4;
    grid-row: 2/3;
  }
  main.main #grid-img-3 {
    width: 100%;
    height: 313px;
    background: url("../img/tablet/image-grid-3@2x.jpg") no-repeat bottom right;
    background-size: cover;
    grid-column: 4/6;
    grid-row: 2/-2;
  }
  main.main .main__background-dark {
    grid-column: 4/-1;
    padding-inline: 1.75em;
    height: 396px;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  main.main .main__background-dark h2 {
    font: var(--f-heading-mobile);
    margin-bottom: 1rem;
  }
  main.main .main__background-dark p {
    font: var(--f-body-s);
  }
  footer.footer {
    display: grid;
    grid-template-columns: 7.8125em auto 7.8125em;
    padding-inline: 40px;
    padding-block: 56px;
  }
  footer.footer p {
    max-width: 70%;
    margin: auto;
    font: var(--f-body-xs);
  }
  footer.footer .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer.footer .footer__social a {
    margin-right: 1.25em;
  }
}