// css custom properties
:root {
    //colors
    --clr-accent: #d5966c;
    --clr-black: #151515;
    --clr-gray: #444444;
    --clr-white: #ffffff;
    //font-family
    --ff-heading: 'Big Shoulders Display', cursive;
    --ff-body: 'Outfit', sans-serif;
    //font size
    --fs-heading-xl: 6rem; // 96px
    --fs-heading-l: 4.375rem; // 70px
    --fs-heading-m: 3.75rem; // 60px
    --fs-heading-s: 2.25rem; // 36px
    --fs-heading-mobile:3.125rem; //50px
    // font shorthand
    --f-heading-xl: 900 6rem/5.5rem 'Big Shoulders Display', cursive; //96px/88px 
    --f-heading-l: 900 4.375rem/4.0625rem 'Big Shoulders Display', cursive;  //70px/65px
    --f-heading-m: 900 3.75rem/3.75rem 'Big Shoulders Display', cursive; //60px/60px
    --f-heading-mobile: 900 3.125rem/2.8125rem 'Big Shoulders Display', cursive; // 50px/45px
    --f-heading-section: 900 3.4375rem/3.125rem 'Big Shoulders Display', cursive; // //55px/50px
    --f-body-xs: 300 1rem/1.625rem 'Outfit', sans-serif; //16px/26px
    --f-body-s: 300 1.125rem/1.75rem 'Outfit', sans-serif; // 18px/28px
    --f-body-m: 300 1.375rem/2rem 'Outfit', sans-serif; //22px/32px
    --f-footer-heading: 900 1.625rem/1.375rem 'Big Shoulders Display', cursive;// 26px/21px
    --f-button: 1.25rem/1.5rem 'Big Shoulders Display', cursive; //20px/24px
}