@media(min-width: 90em ) {
    //desktop styles - starting at 1440px
    .hero {
        background: url('');
        grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: 1fr 1fr;
        .hero__img-mobile{
            background-color: var(--clr-black);
            grid-column: 1/2;
        }
        .hero__img-desktop {
            background: url('../img/desktop/image-hero.jpg') no-repeat top center;
            background-size: contain;
            width: 540px;
            height: 800px;
        }
            
        .hero__content {
            grid-column: 3/4;
            margin-left: -4.6em;
                h1{
                    margin-left: -9.6em;
                    filter: invert(1);
                    mix-blend-mode: difference;
                }
        }
    }
    main.main {
        padding-inline: 10.3125em; // 165px
        padding-block: 11.25em; //180px
        gap: 1.875em;
            .main__content {
                background: url('../img/desktop/image-grid-1.jpg') no-repeat top right;
                background-size: 635px 400px;
                    h2 {
                        font: var(--f-heading-m);
                        margin-bottom: 2rem;
                    }
                    p {
                        font: var(--f-body-m);
                        width: 21.875rem;
                    }
            }
            #grid-img-2{
                background: url('../img/desktop/image-grid-2.jpg') no-repeat top left;
                background-size: cover;
                width: 100%;
                height: 720px;
            }
            #grid-img-3 {
                background: url('../img/desktop/image-grid-3.jpg') no-repeat top right;
                background-size: cover;
            }
            .main__background-dark {
                height: 23.5625em; //377px
            }
    }
    footer.footer,
    footer.section__accent {
        .footer__logo-light,
        .footer__logo-dark {
            margin-left: 7.6em;
        }
        p {
            max-width: 35%;
        }
    }

    //loction.html
    .hero.location {
        background: url('../img/desktop/image-map.png') no-repeat center;
        background-size: cover;
    }
    .main.location {
        padding: 0;
            .main__section-black {
                padding-top: 6.5em;
                padding-inline: 10.3125em;
                padding-bottom: 8em;
                h1 {
                    font-size: var(--fs-heading-l);
                    line-height: 4.0625rem;
                }
            }
    }

    footer.section__accent {
        padding-block: 5em;
    }

    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
        /* Retina-specific stuff here */
        .hero .hero__img-desktop {
            background: url('../img/desktop/image-hero@2x.jpg') no-repeat top center;
            background-size: contain;
        }
        .hero.location {
            background: url('../img/desktop/image-map@2x.png') no-repeat top left;
            background-size: contain;
        }
        .main.main .main__content {
            background: url('../img/desktop/image-grid-1@2x.jpg') no-repeat top right;
            background-size: contain;
        }
        main.main #grid-img-2{
            background: url('../img/desktop/image-grid-2@2x.jpg') no-repeat top left;
            background-size: contain;
        }
        main.main #grid-img-3{
            background: url('../img/desktop/image-grid-3@2x.jpg') no-repeat top left;
            background-size: contain;
        }
        
    }

}