@media (min-width: 37.5em ) {
    //tablet styles - starting at 600px
    .hero {
        width: 100%;
        height: 43.75em; //700px
        background: url('../img/tablet/image-hero.jpg') no-repeat top left;
        background-size: contain;
        margin-bottom: 7.5em; //120px
        display: grid;
        grid-template-columns: 1fr 1fr;
            h1{
                font: var(--f-heading-l);
                padding-top: 2.2em;
                margin-bottom: 0.6em;
            }
            p {
                font: var(--f-body-s);
                margin-bottom: 1.8em;
                max-width: 21.1875em;
                padding-right: 2em;
            }
            .hero__content {
                grid-column: 2/3;
            }
    }

    main.main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 400px 313px 1fr;
        gap: 0.6875em;
        padding-inline: 2.5em;
        margin-bottom: 7.5em;
        max-width: 770px;
        margin-inline: auto;
            .main__content {
                width: 100%;
                height: 400px;
                background: url('../img/tablet/image-grid-1.jpg') no-repeat top right;
                background-size: 398px 400px;
                grid-column: 1/6;
                grid-row: 1/2;
            }
            h2 {
                font: var(--f-heading-mobile);
                padding-top: 1em;
                max-width: 17.5rem;
            }
            p{
                font: var(--f-body-s);
                width: 13.9375em; //223px
            }
            #grid-img-2 {
                width: 100%;
                height: 720px;
                background: url('../img/tablet/image-grid-2.jpg') no-repeat top left;
                background-size: cover;
                grid-column: 1/4;
                grid-row: 2/3;
            }
            #grid-img-3 {
                width: 100%;
                height: 313px;
                background: url('../img/tablet/image-grid-3.jpg') no-repeat bottom right;
                background-size: cover;
                grid-column: 4/6;
                grid-row: 2/-2;
            }
            .main__background-dark {
                grid-column: 4/-1;
                padding-inline: 1.75em;
                height: 396px;
                display: grid;
                align-items: center;
                align-content: center;
                    h2{
                        font: var(--f-heading-mobile);
                        margin-bottom: 1rem;
                    }
                    p {
                        font: var(--f-body-s);
                    }
            }
    }
    // location.html 
    .hero.location {
        width: 100%;
        height: 37.5em; //600px
        background: url('../img/tablet/image-map.png') no-repeat center center;
        background-size: cover;
        background-position: center;
        margin-bottom: 0;
            a {
                button.button {
                    height: auto;
                }
            }
    }
    main.location {
        display: block;
        padding: 0;
        margin-bottom: 0;
            .main__section-black {
                display: grid;
                grid-template-columns: 13.9375em auto;
                gap: 1.25em;
                padding-top: 5.5em;
                padding-inline: 2.5em;
                padding-bottom: 5em; 
                    h1 {
                        font: var(--f-heading-section);
                    }
                    p{
                        grid-column: 2/-1;
                        margin-left: 4.25em;
                        width: auto;
                            span{
                                font-family: var(--ff-heading);
                                font-size: 2rem; //32px
                                line-height: 2rem; //32px
                                color: var(--clr-accent);
                                display: block;
                            }
                    }
            }
    }

    footer.footer,
    footer.section__accent {
        display: grid;
        grid-template-columns: 7.8125em auto 7.8125em;
        padding-inline: 2.5em; //40px
        padding-block: 3.5em; //56px
            h2{
                font: var(--f-footer-heading);
            }
            p {
                max-width: 70%;
                margin: auto;
                font: var(--f-body-xs);
            }
            .footer__social {
                display: flex;
                    a {
                        margin-right: 1.25em;
                    }
            }
    }

    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
        /* Retina-specific stuff here */
        .hero {
            background: url('../img/tablet/image-hero@2x.jpg') no-repeat top left;
            background-size: contain;
        }
        .hero.location {
            background: url('../img/tablet/image-map@2x.png') no-repeat top left;
            background-size: contain;
        }
        .main.main .main__content {
            background: url('../img/tablet/image-grid-1@2x.jpg') no-repeat top right;
            background-size: contain;
        }
        main.main #grid-img-2{
            background: url('../img/tablet/image-grid-2@2x.jpg') no-repeat top left;
            background-size: contain;
        }
        main.main #grid-img-3{
            background: url('../img/tablet/image-grid-3@2x.jpg') no-repeat top left;
            background-size: contain;
        }
        
    }

}