// css custom properties
:root {
    --clr-accent: #d5966c;
    --clr-black: #151515;
    --clr-gray: #444444;
    --clr-white: #ffffff;
    --ff-heading: 'Big Shoulders Display', cursive;
    --ff-body: 'Outfit', sans-serif;
    --fs-heading-xl: 6rem; // 96px
    --fs-heading-l: 4.375rem; // 70px
    --fs-heading-m: 3.75rem; // 60px
    --fs-heading-s: 2.25rem; // 36px
    --fs-heading-mobile:3.125rem; //50px/45px
    --f-body-xs: 1rem/1.625rem 'Outfit', sans-serif; //16px/26px
    --f-body-s: 1.125rem/1.75rem 'Outfit', sans-serif; // 18px/28px
    --f-body-m: 1.375rem/2rem 'Outfit', sans-serif; //22px/32px
    --f-button: 1.25rem/1.5rem 'Big Shoulders Display', cursive; //20px/24px
}

/* CSS Reset - https://codepen.io/kevinpowell/pen/QWxBgZX */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.body{
    background-color: var(--clr-white);
}
h1,h2,h3 {
    font-family: var(--ff-heading);
    text-transform: uppercase;
}
p {
    font-family: var(--ff-body);
}
button.button {
    position: relative;
    font: var(--f-button);
    text-transform: uppercase;
    letter-spacing: 0.2272725rem; //3.63636px
    background-color: var(--clr-black);
    color: var(--clr-white);
    border: 0;
    border-radius: 0;
    padding-block: 1.5em;
    padding-inline-start: 2em;
    padding-inline-end: 2.1875em;
}
button.button::after{
    content: url(/img/icon-arrow-right.svg);
    background-color: var(--clr-accent);
    position: absolute;
    top: 0;
    right: -66px;
    padding: 1.4em;
}

.hero {
    h1 {
        font-size: var(--fs-heading-m);
        line-height: 3.4375rem;
    }
    &__img-mobile {
        margin-bottom: 2em;
    }
    &__content {
        padding-inline: 1em;
        p{
            padding-block: 2em;
        }
        button {
            margin-bottom: 7.5em;
        }
    }
}

main.main {
    padding-inline: 1em;
    img:first-child {
        margin-bottom: 1.5625em;
    }
    img {
        margin-bottom: 1em;
    }
    h2 {
        font-size: var(--fs-heading-mobile);
        line-height: 2.8125rem;
        margin-bottom: 1.3125rem; //21px
    }
    p{
        margin-bottom: 2rem; //32px
    }
    .main__background-dark {
        background-color: var(--clr-black);
        color: var(--clr-white);
        padding-inline: 1.5em;
        padding-block: 2.9375em;
        margin-bottom: 7.5em;
            p{
                font: var(--f-body-m);
            }
    }
}

footer.footer {
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding-inline: 1em;
    padding-top: 3em;
    h2 {
        font-size: 1.6rem;
        line-height: 1.5rem;
        margin-bottom: 2.375em;
    }
    p{
        font: var(--f-body-xs);
        margin-bottom: 2.37em;
    }
    .footer__social {
        display: flex;
            a {
                margin-right: 1.25em; // 20px
                margin-bottom: 3em;
            }
    }
}
